In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

Just for checking the dimensions of the files

In [0]:
df0=pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/1a/features_1a.csv')
df1=pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/1a/labels_1a.csv')

In [0]:
df0.shape

(239, 4)

In [0]:
df1.shape

(239, 1)

In [0]:
df=pd.concat([df0, df1], axis=1)

In [0]:
df.shape

(239, 5)

In [0]:
df

     3.091734712004211572e-01  ...  0.000000000000000000e+00
0                    0.295455  ...                       0.0
1                    0.334646  ...                       0.0
2                    0.334646  ...                       0.0
3                    0.311494  ...                       0.0
4                    0.237826  ...                       0.0
..                        ...  ...                       ...
234                  0.369779  ...                       0.0
235                  0.376556  ...                       0.0
236                  0.317967  ...                       0.0
237                  0.325000  ...                       0.0
238                  0.335025  ...                       0.0

[239 rows x 5 columns]

In [0]:
df.columns = ['x1','x2','x3','x4','y']

In [0]:
df

           x1        x2        x3        x4    y
0    0.295455  0.737686  0.427900  2.496784  0.0
1    0.334646  0.755822  0.448502  2.258570  0.0
2    0.334646  0.761707  0.451543  2.276157  0.0
3    0.311494  0.820665  0.461714  2.634607  0.0
4    0.237826  0.758113  0.364942  3.187681  0.0
..        ...       ...       ...       ...  ...
234  0.369779  0.745783  0.622861  2.016833  0.0
235  0.376556  0.760569  0.478438  2.019801  0.0
236  0.317967  0.753033  0.474517  2.368271  0.0
237  0.325000  0.713958  0.443564  2.196795  0.0
238  0.335025  0.777668  0.457640  2.321222  0.0

[239 rows x 5 columns]

Combining features and labels to create a single csv file for 'alert' cases 
(Files ending with 'a')

In [0]:
for i in range(1,13):
  df0 = pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/'+str(i)+'a/features_'+str(i)+'a.csv')
  df1 = pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/'+str(i)+'a/labels_'+str(i)+'a.csv')
  df=pd.concat([df0, df1], axis=1)
  df.columns = ['x1','x2','x3','x4','y']
  df.to_csv(str(i)+'a.csv')

Combining features and labels to create a single csv file for 'dizzy' cases (Files ending with 'c')

In [0]:
for i in range(1,13):
  df0 = pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/'+str(i)+'c/features_'+str(i)+'c.csv')
  df1 = pd.read_csv('/content/drive/My Drive/Untitled folder/Main_extraction copy/Individual data files/'+str(i)+'c/labels_'+str(i)+'c.csv')
  df=pd.concat([df0, df1], axis=1)
  df.columns = ['x1','x2','x3','x4','y']
  df.to_csv(str(i)+'c.csv')

Combining both the alert and drowsy case for each subject without normalization (Full data files are created)

In [0]:
for i in range(1,13):
  df0=pd.read_csv('/content/'+str(i)+'a.csv')
  df1=pd.read_csv('/content/'+str(i)+'c.csv')
  df= pd.concat([df0, df1], ignore_index=True)
  df = df.drop(['Unnamed: 0'],axis=1)
  df.to_csv(str(i)+'_fulldata.csv')

Normalisation of each subject and creating a seperate normalized file for each subject

In [0]:
for i in range(1,13):
  df = pd.read_csv('/content/'+str(i)+'a.csv')
  df_temp = df.iloc[0:3, :]
  df_mean = df_temp.mean()
  df_std = df_temp.std()
  df["x1_norm"]=(df["x1"]-df_mean["x1"])/df_std["x1"]
  df["x2_norm"]=(df["x2"]-df_mean["x2"])/df_std["x2"]
  df["x3_norm"]=(df["x3"]-df_mean["x3"])/df_std["x3"]
  df["x4_norm"]=(df["x4"]-df_mean["x4"])/df_std["x4"]
  df = df.drop(["x1","x2","x3","x4"],axis=1)
  df1 = pd.read_csv('/content/'+str(i)+'c.csv')
  #df1_temp = df1.iloc[0:3, :]
  #df1_mean = df1_temp.mean()
  #df1_std = df1_temp.std()
  df1["x1_norm"]=(df1["x1"]-df_mean["x1"])/df_std["x1"]
  df1["x2_norm"]=(df1["x2"]-df_mean["x2"])/df_std["x2"]
  df1["x3_norm"]=(df1["x3"]-df_mean["x3"])/df_std["x3"]
  df1["x4_norm"]=(df1["x4"]-df_mean["x4"])/df_std["x4"]
  df1 = df1.drop(["x1","x2","x3","x4"],axis=1)
  df_final= pd.concat([df, df1], ignore_index=True)
  df_final = df_final.drop(['Unnamed: 0'],axis=1)
  df_final.to_csv(str(i)+'_fullnormalizeddata1.csv')

Combining all to obtain the final dataset

In [0]:
df = pd.read_csv('/content/1_fullnormalizeddata1.csv')
for i in range(2,13):
  df_temp =  pd.read_csv('/content/'+str(i)+'_fullnormalizeddata1.csv')
  df = pd.concat([df, df_temp], ignore_index=True)

In [0]:
df = df.drop(["Unnamed: 0"],axis=1)
df.to_csv('dataset1.csv')

In [0]:
df.describe

<bound method NDFrame.describe of          y   x1_norm   x2_norm   x3_norm   x4_norm
0      0.0 -1.154701 -1.122356 -1.146603  1.152164
1      0.0  0.577350  0.326150  0.455083 -0.642323
2      0.0  0.577350  0.796206  0.691520 -0.509842
3      0.0 -0.445832  5.505177  1.482286  2.190396
4      0.0 -3.701568  0.509102 -6.041238  6.356754
...    ...       ...       ...       ...       ...
5711  10.0 -1.858304  9.530967  1.910482  5.817537
5712  10.0 -1.786332  4.316762 -0.844454  3.701869
5713  10.0 -2.680003  6.239826 -1.276456  5.937475
5714  10.0 -0.948243  9.530967  1.275925  4.399905
5715  10.0 -1.832815  8.275307 -0.919924  5.292387

[5716 rows x 5 columns]>